spring.datasource.url=jdbc:postgresql://pg:5432/studs
spring.datasource.username=s888888
spring.datasource.password=qwerty

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

jwt.token.secret=slamach
jwt.token.expired=86400000
